# https://prettier.io/docs/en/ignore.html

# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Source files
**/.git
**/.svn
**/.hg
**/node_modules

# Nuxt
node_modules
logs
*.log
.nuxt
.nitro
.cache
.output
.env
*.md
dist