@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
这里设置的 CSS 变量提取自 Shadcn UI 官网网站的开源项目，可以在这里找到：https://github.com/shadcn-ui/ui/blob/main/templates/next-template/styles/globals.css

如果想设置其他颜色的主题模式，可以去 Shade UI 官网的定制主题工具页面：https://ui.shadcn.com/themes，点击 “Customize” 按钮后，选择不同的主题模式，然后点击 “Copy code” 按钮，将生成的 CSS 代码粘贴到这里即可。
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  html {
    /* 滑块颜色和轨道颜色 */
    /* scrollbar-color: red #f1f1f1;  */
  }
}

/* 
  这里的样式参考自 Shadcn UI 开源项目，拷贝覆盖时不要覆盖下面的代码，只需要覆盖上面的（除前三行）代码即可。@layer base 用于定义基础样式，它们会在 components 和 utilities 层之前应用。参考自 Shadcn 官网开源代码：https://github.com/shadcn-ui/ui/blob/main/apps/www/styles/globals.css
 */
@layer base {
  :root {
    /* max-w-3xl = 48 rem/768 px */
    --article-width: 768px;
    --toc-width: 360px;
    --toc-gap: 0.5rem;
    --font-sans: 'Inter', 'PingFang SC', sans-serif;
    --font-heading: 'CalSans', 'PingFang SC', sans-serif;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    /* @apply bg-background text-foreground; */
    /* font-feature-settings: 'rlig' 1, 'calt' 1; */
    /* 禁用字体合成中的重量合成，确保字体的粗细不会被浏览器合成 */
    /* font-synthesis-weight: none; */
    /* 提示浏览器优化文本渲染，以提高可读性，特别是对于小尺寸或长段落的文本 */
    /* text-rendering: optimizeLegibility; */
  }
  /* 这是测试 sepia 效果用的，暂且留着，虽然现在不支持 sepia 颜色模式 */
  .sepia {
    @apply !sepia-[0.75];
  }

  /* 这是我一开始的设计，想让文章内容文字显示更大一点，现在看来不用了，还是 Tailwind Typology 标准大小的更好看 */
  /* .prose {
    @apply !text-lg !text-foreground/75;
  } */

  /* .prose p {
    text-align: justify;
  } */

  /* 
  解决锚点定位时被 fixed/sticky 定位元素遮挡的问题。

  @See also:
  - https://developer.mozilla.org/zh-CN/docs/Web/CSS/scroll-margin-top
  - https://developer.mozilla.org/zh-CN/docs/Web/CSS/:target
  - http://michael007js.cn/news/shownews.php?id=185
  */
  /* h1,
  h2,
  h3,
  :target {
    scroll-margin-top: 4.5rem !important;
  } */
  /* 
  h1 a,
  h2 a,
  h3 a {
    @apply !no-underline;
  } */
}

/* 
  这里主要是用来控制当屏幕宽度小于 640px 时，容器的水平内边距设置为 16px，其他情况下，使用 container 的默认水平内边距 32px。默认设置是在 tailwind.config.ts 文件中配置的，这里只是用来覆盖默认设置。
*/
@media (max-width: 640px) {
  .container {
    /* 事实上，在手机端设置左右边界太窄了可能也不美观，所以这里就不设置了 */
    /* @apply px-4; */
  }
}
