body {
  outline-width: 0;
  @apply bg-white text-black  dark:bg-black dark:text-gray-100;
}

/* :root {
  outline: 12px solid blue;
  outline-offset: 2px;
} */

:focus-visible {
  /* outline-style: unset; */
  /* outline-dashed 如果不写，默认是这里设置的颜色，外面还有一个白色的边框色 */
  @apply outline outline-1 outline-offset-2 outline-blue-500 !ring-offset-white dark:!ring-offset-black;
}

/* 主要用于控制页面在不同 Color mode 下的背景色。也可以用于需要遮挡后面内容的 Surface 的背景色，比如在 mobile 模式下点击 Hamburge 按钮显示的导航栏，就需要挡住后面的内容。  */
.app-bg-primary {
  @apply bg-white dark:bg-black;
}

.app-bg-primary-75 {
  @apply bg-white/75 dark:bg-black/75;
}

.app-link {
  @apply cursor-pointer hover:text-primary-700 hover:underline;
}

.app-link-primary {
  @apply cursor-pointer text-primary-700 hover:text-primary-600   dark:text-primary-600 dark:hover:text-primary-500;
}

/* 带边框的按钮：1.无填充色； 2.悬浮时更改背景色； 3.去掉下划线；4.圆角边框
*/
.app-btn-outlined {
  @apply rounded-md border border-gray-200 px-3 py-1.5   !no-underline   dark:border-gray-800  dark:hover:bg-gray-900;
}

/* 
  用于定义网页横向约束：比如最大宽度、容器横向内边距等。
  适用于控制 header 以及需要和 header 保持等宽的 section 区域。
  
  NOTE：该 class 仅用于定义内容盒子的横向约束，因此不要定义高度，以及垂直方向的 padding、margin 等约束属性。 
*/
.app-container {
  /* xl:max-w-screen-xl
  xl:max-w-screen-lg */
  @apply mx-auto w-full px-4 md:px-6 lg:max-w-screen-lg xl:max-w-screen-xl xl:px-8;
}

/* 
  解决锚点定位时被 fixed/sticky 定位元素遮挡的问题。
  @see http://michael007js.cn/news/shownews.php?id=185
*/
:target {
  scroll-margin-top: 64px;
}

/* .app-link {
  @apply cursor-pointer font-medium hover:text-primary-500;
} */

::selection {
  @apply bg-primary-700 text-white dark:bg-primary-500/50;
}

/* 默认的标签样式 */
/* .app-tag {
  @apply inline-block rounded-full bg-primary-50 px-2 py-1 text-xs font-medium text-primary-500;
} */

/* 第二种标签样式 */
/* .app-tag-secondary {
  @apply inline-block rounded-full bg-primary-50 px-2 py-1 text-xs font-medium text-gray-500;
} */

/* 默认文本颜色是黑底白字，或白底黑字，这里的 darken 样式是让文字变暗一点：黑底显示 gray-200, 白底显示 gray-700 */
/* .app-text-darken {
  @apply text-red-700 dark:text-red-200;
}

.app-text-darken-2 {
  @apply text-gray-500 dark:text-gray-200;
}
.app-text-darken {
  @apply text-gray-300 dark:text-gray-100;
} */

.app-text-darken-0 {
  @apply text-black dark:text-white;
}
.app-text-darken-1 {
  @apply text-gray-900 dark:text-gray-100;
}
.app-text-darken-2 {
  @apply text-gray-800 dark:text-gray-200;
}
.app-text-darken-3 {
  @apply text-gray-700 dark:text-gray-300;
}
.app-text-darken-4 {
  @apply text-gray-600 dark:text-gray-400;
}
.app-text-darken-5 {
  @apply text-gray-500 dark:text-gray-500;
}
.app-text-darken-6 {
  @apply text-gray-400 dark:text-gray-600;
}
